git+https://gitlab.com/antoinehonore/utils_tbox.git
git+https://gitlab.com/antoinehonore/utils_plots.git
torch==2.4.1
matplotlib
pandas
openpyxl
torcheval
torchmetrics
jupyter
notebook
plotly
kaleido
lightning
tensorboard
scikit-learn